/* https://github.com/ffoodd/a11y.css/tree/main/sass/themes */


/***********************************************************************************************************************
 *
 *  Structural nonsens / forbidden
 *
 **********************************************************************************************************************/


/* empty makes no sense */

/* (exept) :not(td, th, /* void elements: * / area, base, br, col, embed, hr, img, input, link, meta, param, source, track, wbr, script, path, circle, textarea):empty {
    --cleanup-message:"#tag#" should not be empty;
    outline: 2px dashed orange !important;
} */

/* 
too much warnings
:is(p,a,section,article,aside,header,footer,nav,main,figure,figcaption,blockquote,dd,dt,dl,ol,ul,li,menu,table,tbody,thead,tfoot,tr,td,th,form,fieldset,legend,select,option,button,svg,math,mark,small,strong,em,sub,sup,del,ins,code,samp,kbd,var,cite,abbr,q,dfn,pre,address,h1,h2,h3,h4,h5,h6,object,track,style):empty {
    --cleanup-message:"#tag#" should not be empty;
    outline: 2px dashed orange !important;
}
*/

/* required parents */
:not(figure) > figcaption,
:not(dl) > :is(dt, dd),
:not(select, optgroup, datalist) > :is(option),
:not(select) > :is(optgroup),
:not(ul, ol, menu) > li,
:not(fieldset) > legend,
:not(details) > summary,
:not(:is(picture, audio, video)) > source,
:not(:is(video, audio)) > track,
:not(table) > caption {
    --cleanup-message:"#tag#" has the wrong parent;
    outline: 2px dashed red !important;
}

/* required ancestors */
:not(map) area {
    --cleanup-message:"#tag#" must have an ancestor "<map>";
    outline: 2px dashed red !important;
}

/* allowed children */
:is(ul, ol, menu) > :not(li,script,template) {
    --cleanup-message:"#tag#" not allowed as child of "#parent#";
    outline: 2px dashed red !important;
}

/* <legend> must be the first child of fieldset */
fieldset > legend:not(:first-child),
fieldset > :first-child:not(legend) {
    --cleanup-message:<legend> must be the first child of <fieldset>;
    outline: 2px dashed red !important;
}

/* <summary> must be the first child of details */
details > :first-child:not(summary),
details > summary:not(:first-child) {
    --cleanup-message:<summary> must be the first child of <details>;
    outline: 2px dashed red !important;
}

/* <summary> must be the first child of details */
/* table > :first-child:not(caption),  /* not require but a best practice? */
table > caption:not(:first-child) {
    --cleanup-message:<caption> must be the first child of table;
    outline: 2px dashed red !important;
}


/*
Phrasing content:
    abbr,audio,b,bdo,br,button,canvas,cite,code,data,datalist,dfn,em,embed,i,iframe,img,input,kbd,label,mark,math,meter,noscript,object,output,picture,progress,q,ruby,samp,script,select,small,span,strong,sub,sup,svg,textarea,time,u,var,video,wbr
Phrasing content width exeptions:
    a,area,del,ins,link,map,meta
*/

/* no block elements inside inline elements */
:is(abbr,acronym,b,bdi,bdo,big,br,cite,code,del,dfn,em,i,ins,kbd,mark,math,nobr,q,rb,rp,rt,rtc,ruby,s,samp,small,span,strong,sub,sup,time,tt,var)
    > :is(address,article,aside,blockquote,details,dialog,dd,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,main,menu,nav,ol,p,pre,section,table,ul) {
    --cleanup-message:block elements inside inline elements;
    outline: 2px dashed red !important;
}


/* interactive content: https://www.w3.org/TR/2011/WD-html5-20110525/content-models.html#interactive-content
    a,audio[controls],button,details,embed,iframe,img[usemap],input:not([hidden]),keygen,label,menu[type=toolbar],object[usemap],select,textarea,video[controls],[onclick] */
/* interactive content inside link */
a :is(a,audio[controls],button,details,embed,iframe,img[usemap],input:not([hidden]),keygen,label,menu[type=toolbar],object[usemap],select,textarea,video[controls],[onclick]) {
    --cleanup-message:interactive elements inside links are not allowed;
    outline: 2px dashed red !important;
}

/* contains phrasing content */
:is(p) :not(a,area,del,ins,link,map,meta, abbr,audio,b,bdo,br,button,canvas,cite,code,data,datalist,dfn,em,embed,i,iframe,img,input,kbd,label,mark,math,meter,noscript,object,output,picture,progress,q,ruby,samp,script,select,small,span,strong,sub,sup,svg,textarea,time,u,var,video,wbr) {
    --cleanup-message:contains phrasing content;
    outline: 2px dashed red !important;
}



/***********************************************************************************************************************
 *
 *  Attributes missing / wrong / nonsens
 *
 **********************************************************************************************************************/

 /* Prevents the absence of lang attribute */
/* By Geoffry Crofte */
html:not([lang]) {
    --cleanup-message:lang attribute missing;
    outline: 2px dashed red !important;
}

/* Mismatched [dir] && [lang] */
/* By Adam Argyle */
[dir="rtl"]:not([lang="ar"], [lang="he"]),
:is([lang="ar"], [lang="he"]):not([dir="rtl"]),
:is([lang="ar"], [lang="he"]) [lang]:not([dir="ltr"]) {
    --cleanup-message:Mismatched [dir] && [lang];
    outline: 2px dashed orange !important;
}

a:is(:not([href]), [href=""]) {
    --cleanup-message:a has wrong or no href;
    outline: 2px dashed red !important;
}

/* this selector hunts for elements with a tabindex other than 0 or -1 */
/* values other than 0 or -1 can steal or disrupt natural tab order and is generally something to avoid */
/* By Adam Argyle */
[tabindex]:not([tabindex="0"],[tabindex="-1"]) {
    --cleanup-message:'tabindex other than 0 or -1';
    outline: 2px dashed red !important;
}


/***********************************************************************************************************************
 *
 *  Deprecations
 *
 **********************************************************************************************************************/

/* deprecated elements */
acronym,applet,basefont,bgsound,big,blink,center,command,content,dir,font,frame,frameset,hgroup,image,keygen,marquee,menuitem,nobr,noembed,noframes,param,plaintext,rb,rtc,shadow,spacer,strike,tt,xmp {
    --cleanup-message:#tag# is a deprecated element;
    outline: 2px dashed red !important;
}
input:is([type=submit],[type=button],[type=reset]) {  /* ok, not deprecated but button elements are better */
    --cleanup-message:input type="submit" or type="button" or type="reset" are not recommended;
    outline: 2px dashed orange !important;
}


/***********************************************************************************************************************
 *
 *  Accessibility
 *
 **********************************************************************************************************************/

 /* heading should not be inside label (and a-element?) elements. See: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label#headings */
:is(label) :is(h1,h2,h3,h4,h5,h6) {
    --cleanup-message:'#tag# inside label are bad';
    outline: 2px dashed blue !important;
}


 /***********************************************************************************************************************
 *
 *  Accessibility: labeling
 *
 **********************************************************************************************************************/

/* Image without alt attribute? */
img:not([alt]) { /* [role="presentation"] not as widely supported as using a null alt attribute */
    --cleanup-message:<img> without alt attribute;
    outline: 2px dashed red !important;
}

/* By Geoffrey Crofte */
:is(button, a):not([aria-label],[aria-labelledby]):empty {
    --cleanup-message:Empty buttons or links without any kind of labelling;
    outline: 2px dashed red !important;
}

/* SVG without title or aria-label and not considered as decorative */
/* By Geoffrey Crofte */
svg:not([role="presentation"],[aria-label],[aria-labelledby], [aria-hidden="true"]) > :first-child:not(title) {
    --cleanup-message:SVG without title or aria-label;
    outline: 2px dashed red !important;
}

/* Find all the input fields without any labelling */
:is(input,textarea,select):not(label :is(input,textarea,select),[type=hidden],[type=button],[type=submit],[type=reset],[id],[aria-labelledby],[aria-label],[aria-hidden="true"]) {
    --cleanup-message:#tag# without any kind of labelling;
    outline: 2px dashed red !important;
}


/***********************************************************************************************************************
 *
 *  Security
 *
 **********************************************************************************************************************/

/* not if intern link (gets me too many false positives)
[target]:not([rel*="noopener"], [rel*="noreferrer"]) {
    --cleanup-message:target without rel="noopener" or rel="noreferrer";
    outline: 2px dashed orange !important;
}
*/

/***********************************************************************************************************************
 *
 *  Improvments performance / responsiveness
 *
 **********************************************************************************************************************/

/* <img> and <iframe>'s without native lazy loading */
/* By Jay Holtslander
img:not([loading="lazy"]),
iframe:not([loading="lazy"]),
*/

/* Find <picture> elements that don't contain a webp <source> */
/* By Jay Holtslander */
picture > source:first-child:not([type="image/avif"])::before {
    --cleanup-message:<picture> without a avif <source>;
    outline: 2px dashed blue !important;
}

img:not([width]) {
    --cleanup-message:<img> without width;
    outline: 2px dashed blue !important;
}
img:not([height]) {
    --cleanup-message:<img> without height;
    outline: 2px dashed orange !important;
}


/***********************************************************************************************************************
 *
 *  head
 *
 **********************************************************************************************************************/


head:not(:has(meta[charset])) {
    --cleanup-message:'<head> without <meta charset>';
    outline: 2px dashed red !important;
}
head:not(:has(meta[name="viewport"])) {
    --cleanup-message:'<head> without <meta name="viewport">';
    outline: 2px dashed red !important;
}
head:not(:has(title)) {
    --cleanup-message:'<head> without <title>';
    outline: 2px dashed orange !important;
}


/*
*::after {
    display:block;
    font-size:12px;
    background:#fff;
    outline:inherit;
    outline-style: solid;
    content: var(--cleanup-message);
    position: absolute;
}
*/
